*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: relative;
}
.logo a {
    color:white;
    font-size: 24px;
    text-decoration: none;
}
.nav-links{
    display: flex;
    list-style: none;

}
.nav-links li {
    margin: 12px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: antiquewhite;
}
.Mobile-menu{
    cursor: pointer;
    display: none;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
@media (max-width:600px) {
    .nav-links{
        display: none;
        flex-direction: column;
        text-align: center;
        background-color: #333;
        position: absolute;
        width: 100%;
        top: 69px;
        left: 0px;
        opacity: 0.9;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }
    .nav-links.active{
        display: flex;
    }
    .Mobile-menu{
        display: block;
    }
    .nav-links li {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
}